.color-1-0 {
    background: #ED5565;
}

.color-1-1 {
    background: #DA4453;
}

.color-2-0 {
    background: #FC6E51;
}

.color-2-1 {
    background: #E9573F;
}

.color-3-0 {
    background: #FFCE54;
}

.color-3-1 {
    background: #F6BB42;
}

.color-4-0 {
    background: #A0D468;
}

.color-4-1 {
    background: #8CC152;
}

.color-5-0 {
    background: #48CFAD;
}

.color-5-1 {
    background: #37BC9B;
}

.color-6-0 {
    background: #4FC1E9;
}

.color-6-1 {
    background: #3BAFDA;
}

.color-7-0 {
    background: #5D9CEC;
}

.color-7-1 {
    background: #4A89DC;
}

.color-8-0 {
    background: #AC92EC;
}

.color-8-1 {
    background: #967ADC;
}

.color-9-0 {
    background: #EC87C0;
}

.color-9-1 {
    background: #D770AD;
}

.color-10-0 {
    background: #F5F7FA;
}

.color-10-1 {
    background: #E6E9ED;
}

.color-11-0 {
    background: #CCD1D9;
}

.color-11-1 {
    background: #AAB2BD;
}

.color-12-0 {
    background: #656D78;
}

.color-12-1 {
    background: #434A54;
}